@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">First Inputs</h1>
    <p>Here is the first form to be submitted:</p>

    <form method="get">
        <!-- Here is a text box -->
        <label for="firstName">First Name:</label>
        <input asp-for="firstName" class="item" type="text"
            id="firstName" name="firstName" placeholder="Jane Doe" />

        <br />
        
        <!-- Here is a menu -->
        <label for="preference">I like: </label>
        <select asp-for="preference" class="item" id="preference" name="preference">
            <option selected="true" disabled="disabled">Choose one</option>
            <option value="ASP">ASP</option>
            <option value="PHP">PHP</option>
            <option value="JSP">JSP</option>
        </select>

        <br />

        <!-- The button to submit -->
        <button type="submit" class="form-textbox">Submit</button>

        <br />
    </form>

    <div class="text-left">Your Selections
        <br />
        First Name: @Model.firstName
        <br />
        Preference: @Model.preference
    </div>
</div>
