@page
@model IndexModel
@{
    ViewData["Title"] = "Registration";
}
@section Scripts {
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="text-left">
    <h1 class="display-4">Paperclips Inc.</h1>
    <p>Registration form:</p>

    <form method="post">
        <!-- Name text input -->
        <label for="firstName">First Name:</label>
        <input asp-for="firstName" class="item" type="text"
            id="firstName" name="firstName" placeholder="Jane Doe" />
        <span asp-validation-for="firstName"></span>

        <br />
        
        <!-- Email text input -->
        <label for="email">Email:</label>
        <input asp-for="email" class="item" type="text"
            id="email" name="email" placeholder="example@email.com" />
        <span asp-validation-for="email"></span>

        <br />

        <!-- The button to submit -->
        <button type="submit" class="form-textbox">Submit</button>

        <br />
    </form>

    @if (ModelState.IsValid)
    {
        <p>Confirmation Email Sent!</p>
    }
   
</div>
